* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,body {
    height: 100%;
    width: 100%;
  }
  #page1{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display:flex;
    align-items: center;
    justify-content: center;

  }
  #page2{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 199, 155);

  }
  #page3{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 82, 56);
    display:flex;
    align-items: center;
    justify-content: center;

  }
  #box{
    height: 300px;
    width: 300px;
    background-color: crimson;
  }